h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
}
.welcome-page{
    background-image: url('./apple-small.png');
}
a {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}